The Pension Schemes (Categories of Country and Requirements for Overseas Pension Schemes and Recognised Overseas Pension Schemes) (Amendment) Regulations 2012
The Commissioners for Her Majesty’s Revenue and Customs, in exercise of the power conferred by section 150(8) of the Finance Act 2004 , and now exercisable by them , make the following Regulations:
Citation and commencement
1
These Regulations may be cited as the Pension Schemes (Categories of Country and Requirements for Overseas Pension Schemes and Recognised Overseas Pension Schemes) (Amendment) Regulations 2012 and come into force on 25th May 2012.
Amendment of the Pension Schemes (Categories of Country and Requirements for Overseas Pension Schemes and Recognised Overseas Pension Schemes) Regulations 2006
2
1
The Pension Schemes (Categories of Country and Requirements for Overseas Pension Schemes and Recognised Overseas Pension Schemes) Regulations 2006 are amended as follows.
2
In regulation 3 (recognised overseas pension schemes: prescribed countries or territories and prescribed conditions) —
a
in the heading for “conditions” substitute “requirements”, and
b
for paragraph (4) substitute —
4
At the time of a transfer of sums or assets which would, subject to these Regulations, constitute a recognised transfer, a pension scheme must satisfy the condition in paragraph (4A) and the rules of that scheme must provide that —
a
at least 70% of the sums transferred will be designated by the scheme manager for the purpose of providing the member with an income for life;
b
the pension benefits (and any lump sum associated with those benefits) payable to the member under the scheme, to the extent that they relate to the transfer, are payable no earlier than they would be if pension rule 1 in section 165 applied; and
c
the scheme is open to persons resident in the country or territory in which it is established.
4A
Where the pension scheme —
a
is established in Guernsey, and
b
is an exempt pension contract or an exempt pension trust within the meaning of section 157E of the Income Tax (Guernsey) Law, 1975 ,
the scheme must not be open to non-residents of Guernsey.
.
Jim Harra
Simon Bowles
Two of the Commissioners for Her Majesty’s Revenue and Customs
3rd May 2012
